RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !(assets(\/)?)
RewriteCond %{REQUEST_FILENAME} !(apps/(.*)/assets/(\/)?)
RewriteCond %{REQUEST_FILENAME} !(modules/(.*)/cache/(\/)?)

RewriteRule ^(.*)$ index.php [QSA,L]